<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#/login">Get in</a></li>
  </ul>
  <h3 class="text-muted">
    <img src="images/philos_logo.png" alt="">
  </h3>
</div>

<div class="jumbotron">
  <p class="lead">
    About Philos
  </p>
</div>

<div class="row">
    <div class="col-sm-3 col-md-4 animated fadeInUp">
    <div class="thumbnail">
      <div class="caption">
        <img src="images/davy.jpg" alt="...">
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-4 animated fadeInUp">
    <div class="thumbnail">
      <div class="caption">
        <img src="images/cyrille.jpg" alt="...">
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-4 animated fadeInUp">
    <div class="thumbnail">
      <div class="caption">
        <img src="images/mehdi.jpg" alt="...">
      </div>
    </div>
  </div>
</div>
