<section id="about">
    <div id="team_wrapper">
        <div id="team_box" class="animated fadeInUpSmall">
            <h1>About Philos</h1>
            <p>Philos.io is built behind an unique concept: Training and mentoring people on a technology by building together an application in <strong>One Week</strong>.
            <br/>
            <br/>
            The <strong>web and internet are our playgrounds</strong> and we want to help you take part to the game as well! So by joining our <strong>blue chip trainings</strong> you will be able to build amazing things. From one week to another you will be able to change your career or simply change the way you approach your <strong>daily tasks</strong>!
            <br/>
            <br/>
            From building mobile application in one week to designing advanced backend API, at our <strong>Hacker Dojo</strong> you will empower yourselft with <strong>new skills</strong>.
            <br/>
            <br/>
            Does your company need a <strong>blue chip training</strong> on the latest web technologies? We have the solution with our corporate trainings! You can either send your entire team at our Hacker Dojo or we can send our mentors on-site in your company.
            </p>
            <div class="button_stroke center" style="width:340px;"><a href="https://twitter.com/philos_io">Follow us on twitter</a></div>
            <div class="clear"></div>
        </div>
    </div>
</section>