<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#/login">Get in</a></li>
  </ul>
  <h3 class="text-muted">
    <img src="images/philos_logo.png" alt="">
  </h3>
</div>

<div class="jumbotron">
  <p class="lead">
    Welcome to philos, One week One project! 
  </p>
</div>

<div class="row">
    <div class="col-sm-4 col-md-4 animated zoomInUp">
    <div class="thumbnail">
      <div class="caption">
        <h3>JavaScript Training</h3>
        <hr>
        <img src="images/js.png" alt="...">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim accumsan est, eget volutpat nulla rutrum nec. Sed leo nisl, tincidunt sed molestie in, condimentum.</p>
        <hr>
        <p>Intense</p>
        <hr>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="
        button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 animated zoomInUp">
    <div class="thumbnail">
      <div class="caption">
        <h3>NodeJS Training</h3>
        <hr>
        <img src="images/js.png" alt="...">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim accumsan est, eget volutpat nulla rutrum nec. Sed leo nisl, tincidunt sed molestie in, condimentum.</p>
        <hr>
        <p>Light</p>
        <hr>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 animated zoomInUp">
    <div class="thumbnail">
      <div class="caption">
        <h3>AngularJS Training</h3>
        <hr>
        <img src="images/js.png" alt="...">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim accumsan est, eget volutpat nulla rutrum nec. Sed leo nisl, tincidunt sed molestie in, condimentum.</p>
        <hr>
        <p>Intense</p>
        <hr>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
