<section id="home">
    <div id="presentation">
        <div id="presentation_content">
            <h1>One week, one project</h1>
            <p>
                A set of tools, technics, passion, help, mentorship, hard work, technologies and projects!!
            </p>
            <p>The week after you end up with new technics, new skills! You can prototype in no time whatever idea you have!</p>
            <br>
        <br>

        <div class="button_light center" style="width:250px;"><a href="#/trainings">Let's Start</a></div>
        </div>
    </div>
</section>
