<section id="home">
    <div id="presentation">
        <div id="presentation_content">
            <h1>One week, one project</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec ligula eget quam tincidunt molestie. Suspendisse pulvinar porttitor mi in. Duis ipsum nibh, pulvinar vel interdum nec, gravida eget nibh.
            </p><br>
        <br>

        <div class="button_light center" style="width:250px;"><a href="#/trainings">Let's Start</a></div>
        </div>
    </div>
</section>
