<header id="top">
	<div id="head">
    	<div class="logo"><a href="#top">Philos.io</a></div>
        <div class="button_stroke_small right"><a ng-click="goTo('team')">Team</a></div>
        <div class="button_stroke_small right"><a ng-click="goTo('about')">About</a></div>
        <div class="button_stroke_small right"><a ng-click="goTo('trainings')">Trainings</a></div>
        <div class="button_stroke_small right"><a ng-click="goTo('home')">Home</a></div>
        <div class="clear"></div>
    </div>
</header>