<header id="top">
	<div id="head">
    	<div class="logo"><a href="#top">Philos.io</a></div>
        <div class="button_stroke_small right"><a data-toggle-state="team" class="menu">Team</a></div>
        <div class="button_stroke_small right"><a data-toggle-state="about" class="menu">About</a></div>
        <div class="button_stroke_small right"><a id="menuTrainings" data-toggle-state="trainings" class="menu">Trainings</a></div>
        <div class="button_stroke_small right"><a data-toggle-state="home" class="menu active">Home</a></div>
        <div class="clear"></div>
    </div>
</header>