<header id="top">
	<div class="beta">&nbsp;</div>
	<div id="head">
    	<div class="logo"><a href="/">Philos.io</a></div>
        <div class="button_stroke_small right"><a href="/#team" toggle-state="team" class="menu">Team</a></div>
        <div class="button_stroke_small right"><a href="/#about" toggle-state="about" class="menu">About</a></div>
        <div class="button_stroke_small right"><a href="/#one-week-one-project" toggle-state="one-week-one-project" class="menu">Trainings</a></div>
        <div class="button_stroke_small right"><a href="/" toggle-state="home" class="menu active">Home</a></div>
        <div class="clear"></div>
    </div>
</header>