<section id="signup" class="animated fadeInUpSmall">
	<div id="signup_box">
		<div class="social">
	        
			<div class="title">
				 Sign up with one click
			</div>
	        
			<div class="signin_link">
				Already member ? <a href="#/signin">Sign In</a>
			</div>
	        
	        <div class="clear"></div>
	        
			<div class="social_signup">
				<div class="button_git">
					<a href="/auth/github">Sign Up with GitHub</a>
				</div>
				<div class="button_spacer">
					&nbsp;
				</div>
				<div class="button_twitter">
					<a href="/auth/twitter">Sign Up with Twitter</a>
				</div>
				<div class="button_spacer">
					&nbsp;
				</div>
				<div class="button_linkedin">
					<a href="/auth/linkedin">Sign Up with LinkedIn</a>
				</div>
				<div class="clear">
				</div>
			</div>
		</div>
		<div class="or">
			<div class="border_left">
			</div>
			<div class="word">
				or
			</div>
			<div class="border_left">
			</div>
		</div>
		<div id="form_box">
			<div class="title">
				 Fill in the following form <span class="mandatory">( * fields are mandatory)</span>
			</div>
	        
			<div class="signin_link">
				Already member ? <a href="#/signin">Sign In</a>
			</div>
	        
			<div class="signup_form"><br><br><br>
				<form method="post" id="signup_form">
	            	<div class="left">
	                    <label for="yourfirstname" id="yourname_Label">Your name *</label>
	                    <div class="field medium_field">
	                        <input id="yourfirstname" class="medium_input" pattern="^[a-zA-Z][a-zA-Z-.']{1,20}$" placeholder="Enter your first name" name="yourfirstname" type="text" required title="your  first name is required to proceed"/>
	                    </div>
	                </div>
	            	
	            	<div class="left">
	                    <label for="yourlastname" id="yourlastname_Label">&nbsp;</label>
	                    <div class="field medium_field">
	                        <input id="yourlastname" class="medium_input" pattern="^[a-zA-Z][a-zA-Z-.']{1,20}$" placeholder="Enter your last name" name="yourfirstname" type="text" required title="your last name is required to proceed"/>
	                    </div>
	                </div>
	                
	                <div class="clear"></div>
	            	
	            	<div class="left">
	                    <label for="youremailaddress" id="youremailaddress_label">Your email address *</label>
	                    <div class="field long_field">
	                        <input id="youremailaddress" class="long_input" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter your email address" name="youremailaddress" type="email" required title="your email address is required to proceed"/>
	                    </div>
	                </div>
	                
	                <div class="clear"></div>
	                
	            	<div class="left">
	                  <label for="yourpassword" id="yourpassword_Label">Your password (min. 8 chars ; letters + numbers) *</label>
	                  <div class="field medium_field">
	                        <input id="yourpassword" class="medium_input" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[a-z]).*$" placeholder="Enter your password"  name="yourpassword" type="password" required title="enter a valid password"/>
	                    </div>
	                </div>
	            	
	            	<div class="left">
	                  <label for="confirmyourpassword" id="confirmyourpassword_Label">&nbsp;</label>
	                  <div class="field medium_field">
	                        <input id="confirmyourpassword" class="medium_input" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[a-z]).*$" placeholder="confirm your password"  name="confirmyourpassword" type="password" required title="Please confirm your password"/>
	                    </div>
	                </div>
	                
	                <div class="clear"></div>
	            	
	            	<div class="left">
	                  <label for="yourphone" id="yourphone_label">Your phone (Ex: +32479876543) *</label>
	                  <div class="field medium_field">
	                        <input id="yourphone" class="medium_input" pattern="[\+]\d{2}[0-9]" placeholder="Enter your phone number" name="yourphone" type="tel" required title="your phone number is required to proceed"/>
	                    </div>
	                </div>
	                
	                <div class="clear"></div>
	            	
	            	<div class="left">
	                  <label for="yourpostaladdress" id="yourpostaladdress_label">Your postal address</label>
	                  <div class="field long_field">
	                        <input id="yourpostaladdress" style="background:none;" class="long_input" placeholder="Enter your postal address" name="yourpostaladdress" type="text" />
	                    </div>
	                </div>
	                
	                <div class="clear"></div>
	            	
	            	<div class="left">
	                    <label for="yourpostaladdress_l2" id="yourpostaladdress_l2_label">Your postal address (line 2)</label>
	                  <div class="field long_field">
	                        <input id="yourpostaladdress_l2" class="long_input" style="background:none;" placeholder="Enter your postal address (line 2)" name="yourpostaladdress_l2" type="text" />
	                    </div>
	                </div>
	                
	                <div class="clear"></div>
	            	<div class="left">
	                  <label for="postalcode" id="postalcode_Label">Postal code *</label>
	                  <div class="field short_field">
	                        <input id="postalcode" class="short_input" placeholder="Your postal code" name="postalcode" type="text" required title="your postal code is required to proceed"/>
	                    </div>
	                </div>
	            	
	           	  <div class="left">
	                    <label for="Yourcity" id="Yourcity_Label">Your city *</label>
	                    <div class="field medium_field">
	                        <input id="Yourcity" class="medium_input" pattern="^[a-zA-Z][a-zA-Z-.']{1,30}$" placeholder="Enter your city" name="Yourcity" type="text" required title="your city is required to proceed"/>
	                    </div>
	                </div>
	                
	                <div class="clear"></div>
	                
	              	<div class="signup_validation">
						By clicking Sign Up, you agree to our <a href="#">Terms of Use Policy</a>, including our <a href="#">Cookie Use</a>.
						<input class="submit" type="submit" value="Sign Up"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>