<section id="trainings">
    <div id="training_wrapper">
        <div class="big_text">
                List of <strong>One week, one project</strong> available in Belgium!
        </div>
        <div class="training_list animated fadeInUpSmall" ng-repeat="training in trainings">
            <div ng-class="training.attendees.length === training.maxAttendees? 'training_element_grey': 'training_element'">
                <h1><a href="#/one-week-one-project/{{training.id}}">{{training.title}}</a></h1>
                <span class="date">{{training.date}} in <strong>{{training.location.city}}</strong></span>
                <a href="#/one-week-one-project/{{training.id}}"><img ng-src="{{training.image}}" width="300" height="120" alt="{{training.title}}"></a>
                <div class="tags_bloc">
                    <div class="tag" ng-repeat="tag in training.tags | limitTo: 3 ">
                        <a>{{tag}}</a>
                    </div>
                </div>
                <div class="description">
                    {{training.shortDescription}}
                </div>
                <div class="intensity">
                    {{training.pace}}
                </div>
                <div class="cta"><a href="#/trainings/{{training.id}}">{{training.attendees.length}}<strong>/{{training.maxAttendees}} attendees</strong></a></div>
                <div class="more_details"><a href="#/one-week-one-project/{{training.id}}"></a></div>
                <div class="clear"></div>
            </div>
            
            <div class="clear" ng-if="session.all.length - 1 === $index"></div>
        </div>
        
        <!-- <div id="nothing_interesting">
            <div class="big_text">
                Nothing that interests you? What a pity!
            </div>
            <div class="button_light center" style="width:300px;"><a href="#2">Suggest a training</a></div>
        </div> -->
    </div>
</section>